<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Listar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #064775">
      <a class="navbar-brand ms-5" href="#">MasterSystems</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="m-4 ms-5">
    <h1>Pessoas Físicas</h1>
  </div>

  <div class="col col-11">
  <table class="table ms-5 table table-success table-striped">

    <thead>
      <tr>
        <th scope="col">Cod</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">CEP</th>
        <th scope="col">Bairro</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Número</th>
        <th scope="col">Complemento</th>
        <th scope="col">Editar/Excluir</th>        
      </tr>
    </thead>
   
    <tbody th:each="pessoaFisica : ${pessoaFisica}">
      <tr>
        <td class="table-info" th:text="${pessoaFisica.codigoPF}"></td>       
        <td class="table-info" th:text="${pessoaFisica.nome}"></td>
        <td class="table-info" th:text="${pessoaFisica.email}"></td>
        <td class="table-info" th:text="${pessoaFisica.cpf}"></td>
        <td class="table-info" th:text="${pessoaFisica.telefone}"></td>
        <td class="table-info" th:text="${pessoaFisica.cidade}"></td>
        <td class="table-info" th:text="${pessoaFisica.uf}"></td>
        <td class="table-info" th:text="${pessoaFisica.cep}"></td>
        <td class="table-info" th:text="${pessoaFisica.bairro}"></td>
        <td class="table-info" th:text="${pessoaFisica.logradouro}"></td>
        <td class="table-info" th:text="${pessoaFisica.numero}"></td>
        <td class="table-info" th:text="${pessoaFisica.complemento}"></td>       
        <td>
          <a class="btn btn-primary btn-sm ms-1" th:href="${(#mvc.url('CC#alteraPf').arg(0, pessoaFisica.codigoPF).build())}" role="button">Editar </a> 
          <a class="btn btn-danger  btn-sm ms-1" th:href="${(#mvc.url('CC#excluiPf').arg(0, pessoaFisica.codigoPF).build())}" role="button">Excluir </a>
        </td>        
    </tbody>
  </table>
</div>
<div>
  <a role="button" class="btn btn-primary m-5 btn-sm" href="/cadastro" >Adicionar</a>
</div>

  <footer>
    <!-- place footer here -->
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/javascript/script.js"></script>
</body>

</html>