<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>https://pt.stackoverflow.com/questions/403580/autentica%C3%A7%C3%A3o-com-spring-boot-security-usando-p%C3%A1gina-html-usu%C3%A1rio-e-senha-do-b</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    </body>
</html>